* {
  margin: 0;
  padding: 0; }

.row {
  width: 100%;
  margin: 0; }

body {
  background-image: url(../img/ovillos.svg);
  background-size: cover; }

.titulo {
  color: #9C1D22;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem; }

.tituloCursos {
  color: #9C1D22;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

.subtitulo {
  color: #9C1D22;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .titulo {
    font-size: 1.5rem;
    margin-top: 1rem; } }

header {
  top: 0px;
  position: sticky;
  z-index: 1;
  width: 100%; }
  header .menuNav {
    background-color: #FFFFFF; }
    header .menuNav img {
      padding: 10px 0px 10px 0px;
      width: 100px;
      height: 47,927px; }
    header .menuNav #navbarNav {
      justify-content: flex-end; }
      header .menuNav #navbarNav .menu li {
        padding: 10px; }
        header .menuNav #navbarNav .menu li a {
          color: #EC1C24;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 1rem; }
          header .menuNav #navbarNav .menu li a:hover {
            color: #9C1D22; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  header .menuNav a {
    font-size: 0.7rem; }
  header .menuNav .menu li {
    padding: 5px; } }

.queOfrezco {
  padding-top: 20px; }
  .queOfrezco .queOfrezcoTexto {
    background-color: #FBD2D3;
    padding: 10px 15px 5px 15px;
    text-align: justify; }
    .queOfrezco .queOfrezcoTexto p {
      font-family: 'Roboto', sans-serif; }

.enlaces a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #4B1E21;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .queOfrezco {
    padding-left: 15px; }
    .queOfrezco p {
      font-size: 0.8rem;
      padding: 20px; }
  .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.sobreMi {
  background-color: #9C1D22;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto;
  padding: 0 !important; }
  .sobreMi .contenedorImgSobreMi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0; }
    .sobreMi .contenedorImgSobreMi .imgSobreMi {
      text-align: center;
      border-radius: 1rem;
      width: 22rem;
      height: 22rem;
      margin-top: 3rem;
      margin-bottom: 3rem; }
  .sobreMi .quienSoy {
    background-color: #9C1D22;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem 0 0; }
    .sobreMi .quienSoy .tituloSobreMi {
      color: #FBD2D3;
      font-weight: 600;
      font-size: 2.5rem;
      font-family: 'Roboto Slab', serif;
      text-transform: uppercase; }
    .sobreMi .quienSoy .textoSobreMi {
      background-color: #FFFFFF;
      padding: 15px; }
      .sobreMi .quienSoy .textoSobreMi p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #9C1D22;
        text-align: justify; }
      .sobreMi .quienSoy .textoSobreMi .sobreMiParrDos {
        margin: 0; }

.queHago {
  margin-top: 3rem; }
  .queHago .tituloQueHago {
    color: #9C1D22;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase; }
  .queHago .textoQueHago {
    background-color: #FFFFFF;
    padding: 15px; }
    .queHago .textoQueHago p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: justify; }
    .queHago .textoQueHago .ultimoParrQueHago {
      margin-bottom: 0; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .sobreMi {
    width: 80%; }
    .sobreMi .contenedorImgSobreMi .imgSobreMi {
      width: 15rem;
      height: 15rem;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .sobreMi .quienSoy {
      padding: 15px;
      text-align: center; }
      .sobreMi .quienSoy .tituloSobreMi {
        font-size: 1.5rem; }
      .sobreMi .quienSoy p {
        font-size: 0.8rem;
        padding: 5px; }
  .queHago {
    margin-top: 2rem; }
    .queHago .tituloQueHago {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center; }
    .queHago .textoQueHago {
      padding: 10px; }
      .queHago .textoQueHago p {
        font-size: 0.8rem; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sobreMi {
    width: 70%;
    height: 700px; }
    .sobreMi .contenedorImgSobreMi .imgSobreMi {
      margin-top: 2rem;
      margin-bottom: 0; }
    .sobreMi .quienSoy {
      justify-content: center;
      text-align: center;
      padding: 0 1rem 0 1rem; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sobreMi {
    width: 80%; } }

.tituloCatalogo {
  color: #9C1D22;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0; }

.contenedorCards {
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .contenedorCards .cardProducto {
    background-color: #FBD2D3;
    border-radius: 1rem;
    width: 15rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(75, 30, 33, 0.6);
    box-shadow: 0px 0px 15px 3px rgba(75, 30, 33, 0.6); }
    .contenedorCards .cardProducto .cardImagen {
      width: 13rem;
      height: 13rem;
      margin-top: 1rem;
      border-radius: 1rem; }
      .contenedorCards .cardProducto .cardImagen:hover {
        transform: scale(1.1, 1.1);
        transition: 1s;
        cursor: pointer; }
    .contenedorCards .cardProducto .nombreProducto {
      font-family: 'Roboto Slab', serif;
      font-weight: 600;
      color: #4B1E21;
      text-align: center; }
    .contenedorCards .cardProducto .cardTexto {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      text-align: justify; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .tituloCatalogo {
    font-size: 1rem;
    margin-top: 1rem; }
  .cardProducto {
    margin-bottom: 15px;
    margin-bottom: 15px; } }

.contenedorCardsCursos {
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .contenedorCardsCursos .cardCursos {
    background-color: #FBD2D3;
    border-radius: 1rem;
    width: 15rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(75, 30, 33, 0.6);
    box-shadow: 0px 0px 15px 3px rgba(75, 30, 33, 0.6); }
    .contenedorCardsCursos .cardCursos .tituloCardCursos {
      margin-top: 1rem;
      color: #9C1D22;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: 'Roboto Slab', serif;
      text-align: center; }
    .contenedorCardsCursos .cardCursos .cardProductoDescripcion .cardTemario {
      padding-bottom: 10px;
      text-align: center; }
      .contenedorCardsCursos .cardCursos .cardProductoDescripcion .cardTemario .items {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0px; }
      .contenedorCardsCursos .cardCursos .cardProductoDescripcion .cardTemario ul {
        margin-bottom: 0px; }
        .contenedorCardsCursos .cardCursos .cardProductoDescripcion .cardTemario ul li {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 1rem;
          list-style-type: none;
          list-style-position: inside; }
    .contenedorCardsCursos .cardCursos .cardTexto {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      text-align: justify; }

.cursosCompleto {
  margin-top: 100px; }
  .cursosCompleto .curso {
    margin: 20px 50px 20px 50px; }
    .cursosCompleto .curso p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: #9C1D22;
      background-color: #FFFFFF;
      margin: 5px 30px 0px 30px;
      padding: 15px;
      text-align: justify; }
  .cursosCompleto .temario {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem; }
    .cursosCompleto .temario .descripcion li {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      list-style-type: none;
      list-style-position: inside; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contenedorCardsCursos {
    margin: 0; }
    .contenedorCardsCursos .cardCursos {
      margin-top: 1rem; }
  .curso {
    margin: 0px !important; }
    .curso p {
      font-size: 0.8rem;
      margin: 0; } }

.productoPedido img {
  border-radius: 1rem; }

.productoPedido label {
  font-family: 'Roboto Condensed', sans-serif;
  color: #9C1D22; }

.tiempo p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #9C1D22;
  font-size: 1.2rem;
  text-align: center; }

.botonesPedido .btn-danger {
  background-color: #9C1D22;
  border-color: #9C1D22;
  font-family: 'Roboto Condensed', sans-serif; }
  .botonesPedido .btn-danger:hover {
    color: #FFFFFF;
    background-color: #EC1C24;
    border-color: #EC1C24; }

.pedidoNuevo {
  margin-top: 15px; }
  .pedidoNuevo p, .pedidoNuevo ol {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #FFFFFF; }
  .pedidoNuevo ol ul li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    list-style-type: none;
    list-style-position: inside; }

.botonesPedido {
  text-align: center; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .pedidoNuevo p, .pedidoNuevo ol {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px; } }

.contacto {
  background-color: #F4777C;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .contacto .tituloContacto {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-transform: uppercase; }
  .contacto label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF; }
  .contacto .botonesContacto {
    padding-top: 5px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; }
    .contacto .botonesContacto button {
      color: #EC1C24; }

footer {
  background-color: #FFFFFF; }
  footer .row {
    align-items: center; }
    footer .row .iso {
      text-align: center; }
      footer .row .iso img {
        width: 70px;
        height: 70px;
        margin-top: 1rem;
        margin-bottom: 1rem; }
    footer .row p {
      color: #EC1C24;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      justify-self: center;
      text-align: center;
      margin: 0%; }
    footer .row .redesDiv {
      display: flex;
      flex-direction: column; }
      footer .row .redesDiv p {
        display: block;
        text-align: center;
        margin: 0%; }
      footer .row .redesDiv .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0%;
        list-style-type: none; }
        footer .row .redesDiv .redes a {
          color: #EC1C24;
          font-size: 2rem; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  footer {
    text-align: center; }
    footer img {
      padding: 5px; }
    footer p {
      font-size: 0.8rem; }
    footer .redesDiv p {
      display: none; }
    footer .redesDiv .redes a {
      padding: 5px; } }
