.tituloCatalogo {
    color:$rojoOscuro;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 0;
}

.contenedorCards {
    margin-top: 2rem;
    margin-bottom: 3rem;
    .cardProducto {
        background-color: $rosaClaro;
        border-radius: 1rem;
        width: 15rem;
        height: 21rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(75,30,33,0.6); 
        box-shadow: 0px 0px 15px 3px rgba(75,30,33,0.6);
        .cardImagen {
            width: 13rem;
            height: 13rem;
            margin-top: 1rem;
            border-radius: 1rem;
            &:hover {
                transform: scale(1.1,1.1);
                transition:1s;
                cursor: pointer;
            }
        }
        .nombreProducto {
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
            color: $bordo;
            text-align: center;
        }
        .cardTexto {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 0.8rem;
            text-align: justify;
        }

    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    .tituloCatalogo {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .cardProducto {
        margin-bottom: 15px;
        margin-bottom: 15px;
    }
}



