.contacto {
    background-color: $rosa;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .tituloContacto {
        color:$blanco;
        font-weight: 600;
        font-size: 2.5rem;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        text-transform: uppercase;
    }
    label {
        font-family: 'Roboto Condensed', sans-serif;
        color:$blanco;
    }
    .botonesContacto {
        padding-top: 5px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        button {
            color: $rojoMarca;
        }
    }
}