$blanco:#FFFFFF;
$rosaClaro:#FBD2D3;
$rosa:#F4777C;
$rojoMarca:#EC1C24;
$rojoOscuro:#9C1D22;
$bordo:#4B1E21;

$ancho:250px;
$alto:250px;

* {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    margin: 0;
}

main {
    background-image: url(../img/ovillos.svg);
    background-size: cover;
}

.errorNoel {
    margin-top: 10rem;
}

.titulo {
    color:$rojoOscuro;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}
.tituloCursos {
    color:$rojoOscuro;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.subtitulo {
    color:$rojoOscuro;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}


@media only screen and (min-width:0px) and (max-width:767px) {
    .titulo {
        font-size: 1.5rem;
        margin-top: 1rem;
    }   
    
    .error {
        background-image: none;
        .errorNoel {
            margin-top: 5rem;
            text-align: center;
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            p {
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
}