header {
	top: 0px;
    position: sticky;
    z-index: 1;
    width: 100%;
    .menuNav {
        background-color:$blanco;
        img {
            padding: 10px 0px 10px 0px;
            width: 100px;
            height: 47,927px;
        }
        #navbarNav {
            justify-content: flex-end;
            .menu {
                li {
                    padding: 10px;
                    a {
                        color:$rojoMarca;
                        text-decoration: none;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    header {
        .menuNav {
            a {
                font-size: 0.7rem;
            }
            .menu {
                li {
                padding: 5px;
                }
            }
        }
    }
}