.productoPedido {
    img {
        border-radius: 1rem;
    }
    label {
        font-family: 'Roboto Condensed', sans-serif;
        color:$rojoOscuro;
    }
}
.tiempo {
    p {
        font-family: 'Roboto Condensed', sans-serif;
        color: $rojoOscuro;
        font-size: 1.2rem;
        text-align: center;
    }
}
.botonesPedido {
    .btn-danger {
        background-color: $rojoOscuro;
        border-color: $rojoOscuro;
        font-family: 'Roboto Condensed', sans-serif;
        &:hover {
            color: $blanco;
        background-color: $rojoMarca;
        border-color: $rojoMarca;
        }
    }
}
.pedidoNuevo {
    margin-top: 15px;
    p, ol {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        background-color:$blanco;
    }
    ol {
        ul {
            li {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 0.8rem;
                list-style-type: none;
                list-style-position: inside;
            }
        }
    }
}

.botonesPedido {
    text-align: center;
}

@media only screen and (min-width:0px) and (max-width:767px) {
    .pedidoNuevo {
        p, ol {
        font-size: 0.8rem;
        padding-left: 5px;
        padding-right: 5px;
        }
    }
}