.sobreMi {
    background-color:$rojoOscuro;
    border-radius: 1rem;
    width: 60%;
    margin:0 auto;
    padding: 0 !important;
    .contenedorImgSobreMi{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
        .imgSobreMi {
            text-align: center;
            border-radius: 1rem;
            width: 22rem;
            height: 22rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
    .quienSoy {
        background-color:$rojoOscuro;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 2rem 0 0;
        .tituloSobreMi {
            color:$rosaClaro;
            font-weight: 600;
            font-size: 2.5rem;
            font-family: 'Roboto Slab', serif;
            text-transform: uppercase;
        }
        .textoSobreMi {
            background-color:$blanco;
            padding: 15px;
            p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color:$rojoOscuro;
            text-align: justify;
            }
            .sobreMiParrDos {
                margin: 0;
            }
        }
        
    }
}

.queHago {
    margin-top: 3rem;
    .tituloQueHago {
        color:$rojoOscuro;
        font-weight: 600;
        font-size: 2rem;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
    }
    .textoQueHago {
        background-color:$blanco;
        padding: 15px;
        p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: justify;
        }
        .ultimoParrQueHago {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    .sobreMi {
        width: 80%;
        .contenedorImgSobreMi{
            .imgSobreMi {
                width: 15rem;
                height: 15rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
        .quienSoy {
            padding: 15px;
            text-align: center;
            .tituloSobreMi {
                font-size: 1.5rem;
            }
            p {
                font-size: 0.8rem;
                padding: 5px;
            }
        }
    }
    .queHago {
        margin-top: 2rem;
        .tituloQueHago {
            margin-top: 1rem;
            font-size: 1.5rem;
            text-align: center;
        }
        .textoQueHago {
            padding: 10px;
            p {
            font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .sobreMi {
        width: 70% ;
        height: 700px;
        .contenedorImgSobreMi {
            .imgSobreMi {
                margin-top: 2rem;
                margin-bottom: 0;   
            }
        }
        .quienSoy {
            justify-content: center;
            text-align: center;
            padding: 0 1rem 0 1rem;
        }
    }
    
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .sobreMi {
        width: 80% ;
    }
    
}