<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noel - Hecho a mano</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- fuente google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dd0dcbd0c6.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <!-- comienzo header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- nav bootstrap -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light menuNav">
                        <a class="navbar-brand" href="../index.html"><img src="../img/noelHamLogo.svg" alt="Logo Noel-Ham"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav menu">
                            <li class="nav-item active">
                              <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sobreMi.html">Sobre Mi</a>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link" href="catalogo.html">Catálogo</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="cursos.html">Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pedidos.html">Pedidos</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                              </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- cierre header -->
    <!-- comienzo contenido catalogo -->
    <div class="conteiner catalogo">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h1 id="prodAmig" class="titulo">Amigurumis</h1>
            </div>
            <div class="col-lg-4 col-12 prod1">
                    <img class="img-fluid" src="../img/pulpi.jpg" alt="Pulpi amigurumi">
                    <h3 class="nombreProducto">Pulpi</h3>
            </div>
            <div class="col-lg-4 col-12 prod2">
                    <img class="img-fluid" src="../img/carpincho.jpg" alt="Carpincho amigurumi">
                    <h3 class="nombreProducto">Carpincho</h3>
            </div>
            <div class="col-lg-4 col-12 prod3">
                    <img class="img-fluid" src="../img/palta.jpg" alt="Palta amigurumi">
                    <h3 class="nombreProducto">Palta</h3>
            </div>
            <div class="col-lg-12 col-12">
                <h1 id="prodAcc" class="titulo">Accesorios</h1>
            </div>
            <div class="col-lg-4 col-12 acc1">
                <img class="img-fluid" src="../img/bandana.jpg" alt="foto producto 1"> 
                <h3 class="nombreProducto">Bandana</h3>
            </div>
            <div class="col-lg-4 col-12 acc2">
                <img class="img-fluid" src="../img/sonajero.jpg" alt="foto producto 2">
                <h3 class="nombreProducto">Sonajero</h3>
            </div>
            <div class="col-lg-4 col-12 acc3">
                <img class="img-fluid" src="../img/portaChupete.jpg" alt="foto producto 3">
                <h3 class="nombreProducto">Porta chupete</h3>
            </div>
        </div>
    </section>
    <!-- cierre contenido catalogo -->
    <!-- comienzo footer -->
    <footer>
        <div class="conteiner">
            <div class="row">
                <div class="col-lg-2 col-12 iso">
                    <a href="../index.html"><img src="../img/noelHamIso.svg" alt="Corazon Iso Noel-Ham"></a>
                </div>    
                <div class="col-lg-8 col-12">
                    <p>&copy;Noel Castillo DG</p>
                </div>
                <div class="col-lg-2 col-12">
                    <div class="redesDiv">
                        <ul class="redes">
                            <li><a href="https://www.facebook.com/Noel-Hecho-a-mano" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/noel.h.a.m/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCAPu-0iBLV4GeqnI0y3Zkaw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <p>Seguinos en las redes</p>
                    </div>   
                </div> 
            </div>
        </div>
    </footer>    
    <!-- cierre footer -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>   
</body>
</html>