<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Noel - Hecho a Mano, aquí encontrarás todo sobre amigurumis, productos y cursos de producción propia" />
    <meta name="keywords" content="amigurumi, cursos, muñecos amigurumi, tejido, crochet, handmade, producción artesanal" />
    <title>Noel - Hecho a mano</title>
    <!-- fuente google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dd0dcbd0c6.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- mi css -->
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>
  <body>
    <!-- comienzo header -->
    <header>
          <!-- nav bootstrap -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light menuNav">
            <a class="navbar-brand" href="../index.html"><img src="../img/noelHamLogo.svg" alt="Logo Noel-Ham" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav menu">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sobreMi.html">Sobre Mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="catalogo.html">Catálogo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <!-- cierre header -->
    <!-- comienzo contenido catalogo -->
    <div class="conteiner">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h1 class="tituloCatalogo">Amigurumis</h1>
        </div>
      </div>
    </div>
    <div class="conteiner">
      <div class="row justify-content-around align-items-center contenedorCards">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/pulpi.jpg" alt="muñeco amigurumi tejido personaje Pulpi" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Pulpi</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, relleno de vellón siliconado, altura total de 30cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/carpincho.jpg" alt="muñeco amigurumi tejido personaje carpincho" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Carpincho</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, con ojos de seguridad, relleno de vellón siliconado, altura total de 15cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/palta.jpg" alt="muñeco amigurumi tejido personaje palta" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Palta</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, relleno de vellón siliconado, altura total de 15cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/salchicha.jpg" alt="muñeco amigurumi tejido personaje Pulpi" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Salchicha</h3>
            <p class="cardTexto">Muñeco tejido en hilo macramé, con ojos de seguridad, relleno de vellón siliconado, largo total 30cm.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="conteiner">
      <div class="row justify-content-around align-items-center contenedorCards">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/totoro.jpg" alt="muñeco amigurumi tejido personaje totoro" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Totoro</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, relleno de vellón siliconado, altura total de 30cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/unicornio.jpg" alt="muñeco amigurumi tejido personaje unicornio" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Unicornio</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón grueso 8/6, relleno de vellón siliconado, altura total de 18cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/baby yoda.jpg" alt="muñeco amigurumi tejido personaje baby yoda" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Baby Yoda</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, con ojos de seguridad, relleno de vellón siliconado, altura total de 15cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/grinch.jpg" alt="muñeco amigurumi tejido personaje grinch" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Grinch</h3>
            <p class="cardTexto">Muñeco tejido en hilo de algodón fino 8/3, con ojos de seguridad, relleno de vellón siliconado, altura total de 30cm.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="conteiner">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h1 class="tituloCatalogo">Accesorios</h1>
        </div>
      </div>
    </div>
    <div class="conteiner">
      <div class="row justify-content-around align-items-center contenedorCards">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/bandana.jpg" alt="bandana de tela tipo babero para bebes" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Bandana</h3>
            <p class="cardTexto">Bandana de tela de algodón y tela de toalla, con botones tipo snap, tamaño regulable.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/sonajero.jpg" alt="muñeco amigurumi tejido personaje carpincho" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Sonajero</h3>
            <p class="cardTexto">Tejido en hilo de algodón fino 8/3, sonajero tipo cascabel y relleno de vellón siliconado, argolla madera 5cm.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/portaChupete.jpg" alt="muñeco amigurumi tejido personaje palta" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Porta chupete</h3>
            <p class="cardTexto">Tejido en hilo de algodón fino 8/3, relleno de vellón siliconado, con bolitas de madera forradas y gancho de metal.</p>
          </div>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-lg-2 col-8 cardProducto">
          <img class="cardImagen" src="../img/escarpin.jpg" alt="muñeco amigurumi tejido personaje Pulpi" />
          <div class="cardProductoDescripcion">
            <h3 class="nombreProducto">Escarpin</h3>
            <p class="cardTexto">Tejido a dos agujas con lana fina hipoalergénica, tamaño 0 a 3 meses.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- cierre contenido catalogo -->
    <!-- comienzo footer -->
    <footer>
      <div class="conteiner">
        <div class="row">
          <div class="col-lg-2 col-12 iso">
            <a href="../index.html"><img src="../img/noelHamIso.svg" alt="Corazon Iso Noel-Ham" /></a>
          </div>
          <div class="col-lg-8 col-12">
            <p>&copy;Noel Castillo DG</p>
          </div>
          <div class="col-lg-2 col-12">
            <div class="redesDiv">
              <ul class="redes">
                <li>
                  <a href="https://www.facebook.com/Noel-Hecho-a-mano" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/noel.h.a.m/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCAPu-0iBLV4GeqnI0y3Zkaw" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
              <p>Seguinos en las redes</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- cierre footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({ duration: 1200 });
    </script>
  </body>
</html>
