<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Noel - Hecho a Mano, aquí encontrarás todo sobre amigurumis, productos y cursos de producción propia" />
    <meta name="keywords" content="amigurumi, cursos, muñecos amigurumi, tejido, crochet, handmade, producción artesanal" />
    <title>Noel - Hecho a mano</title>
    <!-- fuente google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dd0dcbd0c6.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <!-- mi css -->
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>
  <body>
    <!-- comienzo header -->
    <header>
          <!-- nav bootstrap -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light menuNav">
            <a class="navbar-brand" href="../index.html"><img src="../img/noelHamLogo.svg" alt="Logo Noel-Ham" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav menu">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sobreMi.html">Sobre Mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="catalogo.html">Catálogo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <!-- cierre header -->
    <!-- comienzo contenido cursos -->
    <div class="conteiner">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h1 class="titulo">Cursos</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center contenedorCardsCursos">
      <div class="col-lg-2 col-8 cardCursos">
        <h1 class="tituloCardCursos">Básico Amigurumi</h1>
        <div class="cardProductoDescripcion">
          <div class="cardTemario">
            <p class="items">Materiales</p>
            <ul>
              <li>· hilos</li>
              <li>· agujas</li>
            </ul>
            <p class="items">Puntos básico</p>
            <ul>
              <li>· anillo magico</li>
              <li>· medio punto</li>
              <li>· aumentos</li>
              <li>· disminuciones</li>
            </ul>
            <p class="items">Formas básicas</p>
          </div>
          <p class="cardTexto">Para principiantes, sin conocimientos.</p>
        </div>
      </div>
      <div class="col-lg-2 col-8 cardCursos">
        <h1 class="tituloCardCursos">Creación de Personajes</h1>
        <div class="cardProductoDescripcion">
          <div class="cardTemario">
            <p class="items">Bocetado</p>
            <ul>
              <li>· tamaños</li>
              <li>· formas</li>
            </ul>
            <p class="items">Materiales</p>
            <ul>
              <li>· hilos</li>
              <li>· agujas</li>
            </ul>
            <p class="items">Formas complejas</p>
            <ul>
              <li>· ovalos</li>
              <li>· conos</li>
            </ul>
          </div>
          <p class="cardTexto">Para avanzado, con conocimientos.</p>
        </div>
      </div>
      <div class="col-lg-2 col-8 cardCursos">
        <h1 class="tituloCardCursos">Creación de Accesorios</h1>
        <div class="cardProductoDescripcion">
          <div class="cardTemario">
            <p class="items">Tipos de accesorios</p>
            <ul>
              <li>· funcionales</li>
              <li>· decorativos</li>
            </ul>
            <p class="items">Materiales</p>
            <ul>
              <li>· hilos</li>
              <li>· agujas</li>
              <li>· argollas</li>
              <li>· broches</li>
            </ul>
            <p class="items">Formas básicas</p>
          </div>
          <p class="cardTexto">Para principiantes, sin conocimientos.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="conteiner cursosCompleto">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12 curso">
          <h1 class="tituloCursos">Curso Basico Amigurumi</h1>
          <p>
            Destinado a <b>principiantes</b>, por lo cuál no es necesario que tengas conocimientos previos. En este curso vas a aprender sobre los conceptos más basicos de la técnica del amigurumi y que materiales usar, hablaremos sobre agujas, hilados, ojos de seguridad, y otros materiales útiles; asi como también te voy a enseñarte sobre puntos y lenguaje para que aprendas a leer patrones.
          </p>
        </div>
        <div class="col-lg-2 col-4 temario">
          <h2 class="subtitulo">Temario</h2>
          <ol>
            <li>Materiales</li>
              <ul class="descripcion">
                <li>· hilos</li>
                <li>· agujas</li>
              </ul>
            <li>Puntos básicos</li>
              <ul class="descripcion">
                <li>· anillo magico</li>
                <li>· medio punto</li>
                <li>· aumentos</li>
                <li>· disminuciones</li>
              </ul>
            <li>Formas básicas</li>
          </ol>
        </div>

        <div class="col-lg-7 col-12 curso">
          <h1 class="tituloCursos">Creación de Personajes</h1>
          <p>
            Destinado a <b>personas con conocimientos básicos</b>, es necesario que tengas conocmientos previos. En este curso vas a aprender como crean un personaje desde cero, vamos a hablar sobre el bocetado, tamaños y materiales recomendados, también vamos a ver como llegar a formas más complejas; así como tambien voy a enseñarte qué es un patrón y como crearlo.
          </p>
        </div>
        <div class="col-lg-2 col-4 temario">
          <h2 class="subtitulo">Temario</h2>
          <ol>
            <li>Bocetado</li>
              <ul class="descripcion">
                <li>· tamaños</li>
                <li>· formas</li>
              </ul>
            <li>Elección de materiales</li>
              <ul class="descripcion">
                <li>· hilos</li>
                <li>· agujas</li>
              </ul>
            <li>Formas complejas</li>
              <ul class="descripcion">
                <li>· ovalos</li>
                <li>· conos</li>
              </ul>
            <li>Del boceto a la confexión</li>
          </ol>
        </div>
        
        <div class="col-lg-7 col-12 curso">
          <h1 class="tituloCursos">Creación de Accesorios</h1>
          <p>
            Destinado a <b>personas con conocimientos básicos</b>, es necesario que tengas conocimientos previos. En este curso vas a aprender como crear accesorios combinando la tecnica amigurumi con tejidos a crochet, hablaremos sobre los materiales más comunes y recomendados para los distintos tipos de accesorios.
          </p>
        </div>
        <div class="col-lg-2 col-4 temario">
          <h2 class="subtitulo">Temario</h2>
          <ol>
            <li>Tipos de accesorios</li>
              <ul class="descripcion">
                <li>· funcionales</li>
                <li>· decorativos</li>
              </ul>
            <li>Elección de materiales</li>
              <ul class="descripcion">
                <li>· hilos</li>
                <li>· agujas</li>
                <li>· argollas</li>
                <li>· broches</li>
              </ul>
            <li>Formas básicas</li>
            <li>Confexión</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- cierre contenido cursos -->
    <!-- comienzo footer -->
    <footer>
      <div class="conteiner">
        <div class="row">
          <div class="col-lg-2 col-12 iso">
            <a href="../index.html"><img src="../img/noelHamIso.svg" alt="Corazon Iso Noel-Ham" /></a>
          </div>
          <div class="col-lg-8 col-12">
            <p>&copy;Noel Castillo DG</p>
          </div>
          <div class="col-lg-2 col-12">
            <div class="redesDiv">
              <ul class="redes">
                <li>
                  <a href="https://www.facebook.com/Noel-Hecho-a-mano" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/noel.h.a.m/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCAPu-0iBLV4GeqnI0y3Zkaw" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
              <p>Seguinos en las redes</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- cierre footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>
